<%# toc %>
<% if (theme.toc.post_enable && toc(post.content).length !== 0) { %>
    <%- partial('_partial/post/toc') %>
<% } %>

<div class="intro">&nbsp;</div>
<%- partial('_partial/post') %>

<%# partial('_partial/post/comments') %>

<section class="post-nav">
    <% if (post.prev) { %>
        <a class="prev" rel="prev" href="<%- url_for(post.prev.path)%>">(<em>más nuevo</em>) <%- post.prev.title %></a>
    <% } %>
    <% if (post.next) { %>
        <a class="next" rel="next" href="<%- url_for(post.next.path)%>">(<em>más viejo</em>) <%- post.next.title %></a>
    <% } %>
</section>
